body {
    background-color: #b4bbc6;
    font-family: Arial, sans-serif;
}

.login-box {
    width: 350px;
    margin: 100px auto;
    background: #ffffff;
    padding: 20px;
}

label {
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 7px;
}

.error {
    color: red;
    font-size: 13px;
    margin-bottom: 5px;
}

.success {
    color: green;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}