body {
    font-family: Arial, sans-serif;
    background-color: #b4bbc6;
    padding: 50px;
}

h1 {
    color: #060b56;
    text-align: center; 
}

.login-box {
    width: 350px;
    margin: 100px auto;  
    padding: 20px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.login-box input[type="number"],
.login-box input[type="text"],
.login-box input[type="password"] {
    padding: 5px;
    border: 1px solid #63a7d7;
    margin: 5px 0;
    width: 90%;
}

.login-box input[type="submit"] {
    display: block;       
    margin: 10px auto 0; 
    background-color: #1b25b5;
    color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}