body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 50px;
}

h1 {
    color: #060b56;
}

input[type="number"] ,input[type="text"], input[type="password"] {
    padding: 5px;
}

input[type="submit"] {
    padding: 5px 10px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 14px;
}